* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    
}

.content {
    grid-area: content;
    background-color: rgba(138, 168, 196, 0.856);
    height: 90vh;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.data-item {
    margin: 22px;
}

.emphasize {
    font-weight: bold;
    font-size: 120%;
}

.empty {
    grid-area: empty;
}

.wrapper {
    background-image: url('../images/0.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    transition: background 0.5s linear;
}

p {
    font-size: 110%;
    padding: 4px;
}

h1, h2 {
    padding: 4px;
}

#grid {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'content empty empty';
}

@media(max-width: 724px) {
    #grid {
        display: grid;
        grid-gap: 30px;
        grid-template-areas: 
            'content' 
            'empty'
            'empty';
    }
    .content {
        grid-area: content;
        background-color: rgba(138, 168, 196, 0.897);
        height: 82vh;
        font-family: 'Julius Sans One', sans-serif;
        text-align: center;
        font-size: 80%
    }
  }
